/** @format */

@charset "utf-8";

.flowMain {
	.wrap {
		max-width: 1200px;
	}

	.box {
		display: flex;
		justify-content: flex-start;
		gap: 40px;
		line-height: 2;
		margin-bottom: 170px;

		@include ipad {
			display: block;
			margin-bottom: 103px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		h3 {
			width: 16.66666666666667%;
			@include subFont;
			font-size: 2rem;
			padding-left: 15px;
			letter-spacing: 0.1em;
			position: relative;
			&::before {
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: #e58ec0;
				top: 0;
				left: 0;
				position: absolute;
				@include ipad {
					padding-left: 10px;
					width: 8px;
					height: 8px;
				}
			}
			@include ipad {
				width: 100%;
				font-size: 1.6rem;
				margin-bottom: 26px;
			}
		}

		.txt {
			width: calc(100% - 16.66666666666667% - 40px);
			margin-top: 20px;

			@include ipad {
				width: 100%;
				font-size: 1.32rem;
			}
		}

		.txt.flowTxt {
			.intro {
				line-height: calc(30 / 16);
				margin-bottom: 60px;
				@include ipad {
					margin-bottom: 40px;
				}
			}
			.container {
				width: 100%;
				background-color: #e2e4e6;
				padding: 60px 60px 60px 100px;
				line-height: 2;
				@include ipad {
					padding: 30px 15px 30px 45px;
				}

				.flowBox {
					max-width: 800px;
					padding: 32px 40px 32px 60px;
					background-color: #ffffff;
					display: block;
					position: relative;
					margin-bottom: 60px;
					@include ipad {
						padding: 24px 15px 15px 40px;
						margin-bottom: 46px;
					}
					&::after {
						content: "";
						position: absolute;
						left: 45%;
						bottom: -38.5px;
						border-right: 14px solid transparent;
						border-top: 16.15px solid #97a0a8;
						border-left: 14px solid transparent;
						@include ipad {
							left: 39%;
							bottom: -35px;
						}
					}
					&:last-of-type {
						margin-bottom: 0;
						&::after {
							content: none;
						}
					}
					div {
						width: 80px;
						height: 80px;
						border-radius: 50%;
						background: linear-gradient(to bottom, #e4a3ca, #b1b6f1);
						color: #fff;
						font-size: 2.8rem;
						text-align: center;
						@include subFont;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: -40px;
						@include ipad {
							width: 60px;
							height: 60px;
							left: -30px;
						}
						.num {
							line-height: 1.2;
							padding: 14px 0;
							font-size: 1.6rem;
							@include subFont;
							span {
								display: block;
								font-size: 1.2rem;
								letter-spacing: 0.1em;
							}
						}
					}
					h4 {
						font-size: 2.4rem;
						font-weight: 500;
						letter-spacing: 0.05em;
						margin-bottom: 3px;
						@include ipad {
							font-size: 1.92rem;
						}
					}
				}
			}
		}
		.txt.voiceTxt {
			margin-top: 0;
			.container {
				display: flex;
				justify-content: space-between;
				gap: 32px;
				margin-bottom: 60px;
				@include ipad {
					display: block;
					margin-bottom: 40px;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
				.img {
					width: 13.5%;
					font-weight: 500;
					text-align: center;
					@include ipad {
						width: 100%;
						display: flex;
						text-align: left;
						font-size: 1.32rem;
						align-items: center;
					}
					img {
						@include ipad {
							max-width: 90px;
							margin-right: 10px;
						}
					}
				}
				.voiceBox {
					width: calc(100% - 13.5% - 32px);
					margin-top: 57px;
					border: solid 1px #e58ec0;
					padding: 30px 50px 45px;
					border-radius: 0 50px 50px 50px;
					@include ipad {
						width: 100%;
						margin-top: 20px;
						border-radius: 0 20px 20px 20px;
						padding: 20px;
					}
					h4 {
						padding-bottom: 20px;
						border-bottom: solid 1px #e2e4e6;
						display: flex;
						align-items: center;
						position: relative;
						@include ipad {
							display: block;
							padding-bottom: 12px;
						}
						&::after {
							content: "";
							position: absolute;
							top: 37%;
							transform: translateY(-50%);
							left: 191px;
							border-top: 8px solid transparent;
							border-left: 15px solid #e58ec0;
							border-bottom: 8px solid transparent;
							@include ipad {
								top: 63%;
								left: 60px;
								border-top: 7px solid transparent;
								border-left: 11px solid #e58ec0;
								border-bottom: 7px solid transparent;
							}
						}
					}
					.sub1 {
						@include subFont;
						font-size: 1.2rem;
						letter-spacing: 0.1em;
						line-height: 1;
						color: #fff;
						padding: 7px 15px;
						border-radius: 20px;
						background-color: #e58ec0;
						margin-right: 15px;
						@include ipad {
							display: block;
							max-width: 90px;
							font-size: 1rem;
						}
					}
					.sub2 {
						font-weight: 500;
						margin-right: 34px;
						@include ipad {
							margin-right: 25px;
						}
					}
					.ttl {
						font-size: 2rem;
						font-weight: 500;
						@include ipad {
							font-size: 1.6rem;
						}
					}
					p {
						line-height: 2;
						margin-top: 34px;
						@include ipad {
							margin-top: 20px;
						}
					}
				}
				&:first-of-type img {
					margin-top: 20px;
					@include ipad {
						margin-top: 0;
					}
				}
				&:nth-of-type(2) h4::after {
					left: 207px;
					@include ipad{
						left: 72px;
					}
				}
			}
		}
	}
}
